<div class="rounded overflow-hidden shadow-lg w-screen sm:w-60 sm:h-80">
  <div
    class="rounded-b-2xl bg-indigo-400 w-full h-14 flex items-center pl-5 text-lg font-bold text-white leading-tight"
  >
    <h2>{{ book.title }}</h2>
  </div>
  <div class="flex flex-col items-center leading-relaxed">
    <h3 class="text-indigo-900 text-base font-mono mt-2">
      {{ book.author }}
    </h3>
    <p class="text-indigo-900 text-sm font-light sm:mt-3">
      Pages: {{ book.pages }}
    </p>
  </div>
  <div
    class="flex m-3 sm:m-6 sm:leading-loose text-sm font-extralight justify-center text-indigo-900"
  >
    <div class="flex flex-col text-right space-y-3">
      <p>Currently Reading:</p>
      <p>Favourite:</p>
      <p>Loaned Out:</p>
    </div>
    <div class="flex flex-col ml-5 font-normal">
      <div *ngIf="!isEdit" class="space-y-3">
        <p>{{ book.isReading ? "Yes" : "No" }}</p>
        <p>{{ book.isFav ? "Yes" : "No" }}</p>
        <p>{{ book.isLoaned ? "Yes" : "No" }}</p>
      </div>
      <div *ngIf="isEdit" class="flex flex-col space-y-2 sm:space-y-4">
        <mat-slide-toggle
          [color]="color"
          [checked]="book.isReading"
          (change)="editIsReading = !editIsReading"
        ></mat-slide-toggle>
        <mat-slide-toggle
          [color]="color"
          [checked]="book.isFav"
          (change)="editIsFav = !editIsFav"
        ></mat-slide-toggle>
        <mat-slide-toggle
          [color]="color"
          [checked]="book.isLoaned"
          (change)="editIsLoaned = !editIsLoaned"
        ></mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="flex pl-4 pb-2 items-center">
    <button
      (click)="onEditBook()"
      type="button"
      class="inline-flex justify-center py-1 px-4 mr-3 border border-indigo-700 hover:border-transparent shadow-sm text-xs rounded-md text-indigo-900 hover:text-white bg-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300"
    >
      {{ isEdit ? "Save" : "Edit" }}
    </button>
    <button
      (click)="onDeleteBook(book.title)"
      type="button"
      class="inline-flex justify-center py-1 px-4 mr-3 border border-red-500 hover:border-transparent shadow-sm text-xs rounded-md text-red-600 hover:text-white bg-white hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-300"
    >
      Delete
    </button>
  </div>
</div>
