<div class="absolute w-screen h-4/5 flex justify-center">
  <div class="rounded-lg w-80 h-96 shadow-2xl mx-auto mt-6">
    <form [formGroup]="bookForm" (ngSubmit)="onAddBook()">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-6 gap-3">
          <div class="col-span-6">
            <div class="col-span-6">
              <label for="title" class="block text-sm font-medium text-gray-700"
                >Title</label
              >
              <input
                type="text"
                name="title"
                id="title"
                autocomplete="off"
                formControlName="title"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                required
              />
              <span
                *ngIf="
                  !bookForm.get('title').valid && bookForm.get('title').touched
                "
                >Please enter a title.</span
              >
            </div>

            <div class="col-span-6">
              <label
                for="author"
                class="block text-sm font-medium text-gray-700"
                >Author</label
              >
              <input
                type="text"
                name="author"
                id="author"
                autocomplete="off"
                formControlName="author"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
              />
            </div>
            <div class="col-span-3">
              <label for="pages" class="block text-sm font-medium text-gray-700"
                >Pages</label
              >
              <input
                type="number"
                name="pages"
                id="pages"
                autocomplete="off"
                formControlName="pages"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                required
              />
              <span
                *ngIf="
                  !bookForm.get('pages').valid && bookForm.get('pages').touched
                "
                >Please enter the number of pages</span
              >
            </div>
          </div>
        </div>
        <div>
          <label for="isFav" class="block text-sm font-medium text-gray-700"
            >Favourite</label
          >
          <input
            type="checkbox"
            name="favourite"
            id="isFav"
            formControlName="isFav"
            class="appearance-none checked:bg-indigo-300 checked:border-transparent"
          />
        </div>
        <div>
          <label for="isReading" class="block text-sm font-medium text-gray-700"
            >Currently Reading</label
          >
          <input
            type="checkbox"
            name="currently reading"
            id="isReading"
            formControlName="isReading"
            class="appearance-none checked:bg-indigo-300 checked:border-transparent"
          />
        </div>
        <div>
          <label for="isLoaned" class="block text-sm font-medium text-gray-700"
            >Loaned Out</label
          >
          <input
            type="checkbox"
            name="loanedOut"
            id="isLoaned"
            formControlName="isLoaned"
            class="appearance-none checked:bg-indigo-300 checked:border-transparent"
          />
        </div>
        <div class="px-4 py-3 text-right sm:px-6">
          <button
            type="button"
            class="inline-flex justify-center py-2 px-4 mr-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400 hover:bg-red-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-300"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
