<div class="absolute w-screen h-4/5 flex justify-center">
  <div class="rounded-lg w-80 h-96 shadow-2xl mx-auto mt-6">
    <form>
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-6 gap-3">
          <div class="col-span-6">
            <div class="col-span-6">
              <label for="title" class="block text-sm font-medium text-gray-700"
                >Title</label
              >
              <input
                #title
                type="text"
                name="title"
                id="title"
                autocomplete="off"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
              />
            </div>

            <div class="col-span-6">
              <label
                for="author"
                class="block text-sm font-medium text-gray-700"
                >Author</label
              >
              <input
                #author
                type="text"
                name="author"
                id="author"
                autocomplete="off"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
              />
            </div>
            <div class="col-span-3">
              <label for="pages" class="block text-sm font-medium text-gray-700"
                >Pages</label
              >
              <input
                #pages
                type="number"
                name="pages"
                id="pages"
                autocomplete="off"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
              />
            </div>
          </div>
        </div>
        <div>
          <label for="isFav" class="block text-sm font-medium text-gray-700"
            >Favourite</label
          >
          <input
            #isFav
            type="checkbox"
            name="favourite"
            id="isFav"
            class="appearance-none checked:bg-indigo-300 checked:border-transparent"
          />
        </div>
        <div>
          <label for="isReading" class="block text-sm font-medium text-gray-700"
            >Currently Reading</label
          >
          <input
            #isReading
            type="checkbox"
            name="currently reading"
            id="isReading"
            class="appearance-none checked:bg-indigo-300 checked:border-transparent"
          />
        </div>
        <div>
          <label for="isLoaned" class="block text-sm font-medium text-gray-700"
            >Loaned Out</label
          >
          <input
            #isLoaned
            type="checkbox"
            name="loanedOut"
            id="isLoaned"
            class="appearance-none checked:bg-indigo-300 checked:border-transparent"
          />
        </div>
        <div class="px-4 py-3 text-right sm:px-6">
          <button
            type="button"
            class="inline-flex justify-center py-2 px-4 mr-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400 hover:bg-red-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-300"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            (click)="onAddBook()"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
